<li>
  <a href="{{ url_for('product_detail', id=item.id) }}">
    <figure>
      <img
        src="{{ item.image_url or url_for('static', filename='img/placeholder.png') }}"
        alt="{{ item.title }}"
        width="360" height="360"
      >
      <figcaption>
        <h3>PRODUCT TITLE</h3>
        <p>{{ item.title or 'Lorem ipsum is simply dummy text of the printing and typesetting industry' }}</p>
        <p><strong>${{ '%.2f'|format(item.price or 30) }}</strong></p>
      </figcaption>
    </figure>
  </a>
</li>
